@import './pasteal-palet';

//*************mixins
@mixin drowClipPath($imgurl, $g-direction, $height, $path, $color1, $color2) {
    background-image:
        linear-gradient($g-direction, $color1, $color2),
        url($imgurl);


    background-size: cover;
    background-position: top;
    height: $height;
    -webkit-clip-path: $path;
    clip-path: $path;
}